img{
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.slick-slider{
    *{
        &:focus{
            outline: none !important;
        }
    }
    .slick-prev, .slick-next{
        z-index: 2000;
        &::before{
            display: none;
        }
    }
}

@-webkit-keyframes ella-pulsate-while {
    0% {
      border: 2px solid #fff;
    }
    50% {
      border: 4px solid #fff;
    }
    100% {
      border: 2px solid #fff;
    }
  }
  
  @keyframes ella-pulsate-while {
    0% {
      border: 2px solid #fff;
    }
    50% {
      border: 4px solid #fff;
    }
    100% {
      border: 2px solid #fff;
    }
  }
  .ella-pulsate-while-anis {
    -webkit-animation: ella-pulsate-while 0.5s ease-in-out infinite both;
    animation: ella-pulsate-while 0.5s ease-in-out infinite both;
  }
  .page-template-elementor{
    .footer{
      margin-top: 0px;
    }
  }
  .recent-view--button{
    z-index: 3;
  }
  /* Header configure from carousel*/
  header{
    &.header--float{
      @media screen and (min-width: 1280px) {
        position: absolute;
        z-index: 2;
        background-color: transparent;
        width: 100%;
        .wcml-vertical-list.product.wcml_currency_switcher ul::after,
        .wpml-ls-statics-shortcode_actions.wpml-ls.wpml-ls-legacy-list-vertical ul::after{
          color: #fff !important;
        }
        .header__top-container{
          background-color: transparent !important;
          *{
            color: #fff !important;
          }
          i.fab.fa-facebook-f{
            background-color: transparent!important;
          }
        }
        .header__center-container{
          color: #fff !important;
          .header__center-right{
            .number{
              background-color: #e95144 !important;
              color: #fff !important;
            }
            a{
              i{
                color: #fff !important;
              }
            }
          }
        }
        .navbar-template-white-back{  
          border-bottom: none;
          background-color: transparent !important;
          .navbar__contain{
            .menu{
              &>li{
                &>a{
                  color: #fff !important;
                }
              }
            }
          }
          &.fixed{
            background-color: #fff !important;
            .navbar__contain{
              .menu{
                &>li{
                  &>a{
                    color: var(--primary-color) !important;
                  }
                }
              }
            }
          }
        }
        .sub-menu{
          background-color: #fff!important;
          
        }
        .header__container .header__center-container .container .header__center-right .row-divide .mc-live-search .search--form{
          background-color: transparent;
        }
        .header__container .header__center-container .container .header__center-right .row-divide .mc-live-search .search--form .header__item-setting-item-button .btn{
          background-color: transparent !important;
          i{
            color: #fff;
          }
        }
        .header__container .header__center-container .container .header__center-right .row-divide .mc-live-search .search--form .header__item-setting-item-input input[aria-label=search-header-input]{
          &::placeholder{
            color: #fff;
          }
        }
        .header__container .header__center-container .container .header__center-right .row-divide .mc-live-search .search--form .header__item-setting-item-input #searchHeaderInput{
          background-color: transparent;
        }
      }
    }
  }
  .elementor-control-raw-html.noti-elementor-carousel-style{
  padding: 15px 0px;
  color: #e95144;
  font-size: 16px;
  font-weight: 700;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
header{
  &.header--float{
    &.header-template-01{
      .head-content-page.head-promotion-3{
        background-color: #ef6454 !important;
        color: #ffffff !important;
        a{
          color: #ffffff !important;
        }
      }
      .navbar{
        background: transparent;
        border-bottom: none;
        .navbar__left .logo img{
          &:nth-child(1){
            display: none;
          }
        }
        .menu{
          &>li{
            &>a{
              color: #fff !important;
            }
          }
        }
        .navbar__right{
          color: #fff !important;
          i{
            color: #fff !important;
          }
        }
        &.fixed{
          background: #fff;
          .navbar__left .logo img{
            &:nth-child(1){
              display: block;
            }
            &:nth-child(2){
              display: none;
            }
          }
          .menu{
            &>li{
              &>a{
                color: var(--primary-color) !important;
              }
            }
          }
          .navbar__right{
            color: var(--primary-color) !important;
            i{
              color: var(--primary-color) !important;
            }
          }
        }
      }
    }
  }
}