.slick-slider{
    *{
        &:focus{
            outline: none !important;
        }
    }
    .slick-prev, .slick-next{
        z-index: 2000;
        &::before{
            display: none;
        }
    }
}