
.wa-ella-instagram{
    p{
        padding-bottom: 0;
    }
    background: #fafafa;
    padding: 57px 0 70px;
    .wa-ella-title-instagram{
        display: flex;
        color: #232323;
        font-size: 20px;
        letter-spacing: .05em;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 13px;
        justify-content: center;
    }
    .wa-icon-instagram{
        font-weight: 400;
        margin-right: 10px;
        font-size: 1.33333333em;
        line-height: .75em;
    }
    .mc-text-title-inst{
        align-self: center;
    }
    .wa-ella-description-instagram{
        margin-bottom: 30px;
        line-height: 22px;
        text-align: center;
    }
}