.wa-ella{
    &-product-tab-with-banner{
        &-top{
            margin-bottom: 25px;
            padding-right: 0;
            display: flex;
            align-items: flex-start;
            padding: 13px 60px 7px 0;
            border-bottom: 2px solid #e0e0e0;
            justify-content: flex-start;
            @include MediaQuery($xs){
                flex-direction: column;
                border-bottom: none;
                padding: 0px;
                margin-bottom: 20px;
            }
            &-title{
                flex: 0 0 25%;
                max-width: 25%;
                border: none;
                padding: 0;
                margin: 0;
                color: #232323;
                font-size: 20px;
                letter-spacing: .05em;
                font-weight: 700;
                text-transform: uppercase;
                position: relative;
                @include MediaQuery($xs){
                    flex: 0 0 100%;
                    max-width: 100%;
                    width: 100%;
                    border-bottom: 2px solid #e0e0e0;
                    padding: 12px 60px 12px 0;
                    font-size: 18px;
                }
            }
            &-tab{
                flex: 0 0 75%;
                max-width: 75%;
                padding: 0;
                margin: 0;
                justify-content: flex-end;
                overflow-x: initial;
                flex-wrap: nowrap;
                display: flex;
                align-items: center;
                @include MediaQuery($xs){
                    flex: 0 0 100%;
                    max-width: 100%;
                    overflow-x: auto;
                    padding: 14px 0 0;
                    justify-content: flex-start;
                    margin-left: -10px;
                    margin-right: -10px;
                    padding-left: 10px;
                    padding-right: 10px;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                }
                &-item{
                    flex: 0 0 auto;
                    max-width: initial;
                    margin: 0;
                    padding: 0;
                    position: relative;
                    border: none;
                    padding: 4px 15px 2px 16px;
                    text-align: left;
                    letter-spacing: .05em;
                    text-transform: uppercase;
                    cursor: pointer;
                    &:first-of-type{
                        margin-left: -15px;
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        top: 50%;
                        left: 0;
                        width: 1px;
                        height: 15px;
                        transform: translateY(-50%);
                        background-color: #bebebe;
                    }
                    &.active{
                        font-weight: 600;
                        color: #232323;
                        &::before{
                            display: none;
                        }
                        &:after{
                            @media screen  and (min-width: 768px){
                                position: absolute;
                                content: "";
                                bottom: -13px;
                                left: 50%;
                                border: 7px solid transparent;
                                transform: translateX(calc(-50% + 1px));
                                border-bottom-color: #e0e0e0;
                            }
                        }
                    }
                }
            }
        }
        &-container{
            &-image{
                .slick-dots{
                    bottom: 25px;
                    li{
                        button{
                            &::before{
                                display: none;
                            }
                        } 
                    }
                    
                    display: block;
                    li{
                        button{
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            border: 1px solid #ffffff;
                            background: #ffffff;
                            padding: 0;
                            outline: none;
                            cursor: pointer;
                        }
                        &.slick-active{
                            button{
                                background: rgba(255,255,255,0);
                                border-color: #fff;
                            }
                        }
                    }
                }
                &-list{
                    height: 100%;
                    .slick-list{
                        height: 100%;
                        .slick-track{
                            height: 100%;
                        }
                    }
                }
                &-item{
                    position: relative;
                    height: 100%!important;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%!important;
                        object-fit: cover;
                        object-position: center center;
                    }
                    &-content{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        text-align: center;
                        &-title{
                            color: #fff;
                            font-size: 30px;
                            margin-bottom: 12px;
                            letter-spacing: .05em;
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                        &-description{
                            color: #fff;
                            font-size: 12px;
                            margin-bottom: 32px;
                        }
                        &-button{
                            display: inline-block;
                            user-select: none;
                            transition: all 0.3s ease;
                            max-width: 100%;
                            border: 1px solid rgba(255,255,255,0);
                            text-transform: uppercase;
                            font-weight: 700;
                            letter-spacing: .05em;
                            font-size: 13px;
                            line-height: 20px;
                            outline: none;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            box-shadow: 0 2px 2px rgba(0,0,0,0.1);
                            padding: 10px 25px 8px;
                            cursor: pointer;
                            min-width: 170px;
                            background-color: #fff;
                            border-color: #fff;
                            color: #232323;
                            text-decoration: none!important;
                            &:hover{
                                background-color: #232323 !important;
                                color: #fff !important;
                                border-color: #232323 !important;
                            }
                        }
                    }
                }
            }
            &-product{
                &-contain{
                    &-slider{
                        .slick-dots{
                            display: none;
                            li{
                                button{
                                    &::before{
                                        display: none;
                                    }
                                } 
                            }
                            
                            @include MediaQuery($xs){
                                display: block;
                                li{
                                    button{
                                        width: 10px;
                                        height: 10px;
                                        border-radius: 50%;
                                        border: 1px solid #707979;
                                        background: #707979;
                                        padding: 0;
                                        outline: none;
                                        cursor: pointer;
                                    }
                                    &.slick-active{
                                        button{
                                            background: rgba(255,255,255,0);
                                            border-color: #505656;
                                        }
                                    }
                                }
                            }
                        }
                        .slick-prev, .slick-next{
                            top: calc(50% - 80px);
                            padding-left: 2px;
                            padding-top: 3px;
                            width: 36px;
                            height: 36px;
                            background-color: #fff;
                            border: 1px solid #323232;
                            color: #323232;
                            position: absolute;
                            cursor: pointer;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.25s linear;
                            @include MediaQuery($lg){
                                opacity: 0;
                            }
                            i{
                                font-size: 20px;
                                font-weight: 600;
                            }
                            &:hover{
                                background-color: var(--primary-bg-color);
                                color: #fff;
                            }
                        }
                        .slick-prev{
                            left: -5px;
                        }
                        .slick-next{
                            right: -5px;
                        }
                        .product-item{
                            @include MediaQuery ($xs){
                                margin-bottom: 0px;
                            }
                            .product-item__overlay{
                                .product-item__star{
                                    display: none;
                                }
                            }
                            .product-item__contain{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                .product-item__thumbnail{
                                    margin-bottom: 15px;
                                }
                                .product-item__collection,.product-item__title,.product-item__price{
                                    text-align: left!important;
                                    font-size: 12px;
                                    font-weight: 500;
                                }
                                .product-item__collection{
                                    margin-bottom: 4px;
                                    order: 1;
                                }
                                .product-item__title{
                                    margin-bottom: 4px;
                                    line-height: 22px;
                                    order: 2;
                                }
                                .product-item__price{
                                    font-size: 13px;
                                    font-weight: 600;
                                    line-height: 22px;
                                    letter-spacing: normal;
                                    order: 3;
                                }
                                .product-item__star{
                                    display: block!important;
                                    text-align: left!important;
                                    margin-bottom: 18px;
                                    margin-top: -6px;
                                    order: 4;
                                    i{
                                        padding: 0 2px;
                                        font-size: 105% !important;
                                        margin: 0;
                                        color: #ffc712;
                                        &:first-of-type{
                                            padding: 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include MediaQuery($xs){
                &-product{
                    order: 1;
                }
                &-image{
                    order: 2;
                }
            }
        }
    }
}   